 @import url('https://fonts.googleapis.com/css2?family=Nabla&family=Yuyu&display=swap');

    p {
     font-family: "Nabla", system-ui;
    }

    span {
      font-weight: bold;
    }

    .ital {
      font-style: italic;
      font-weight: bold;
    }
    .ital:hover{
      color: brown;
      font-size: 50px;
    }
    .box{
      background-color: blue;
    }
    .currentline{
      display: inline;

    }
    .newline{
        display: inline;
    }