h1 {

    color: rgb(0, 0, 0);

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;

    margin-top: auto;
    margin-left: 50%;


}


nav {


    font-family: Georgia, 'Times New Roman', Times, serif;




}


#saman {



    color: rgb(155, 155, 155);

    font-size: 90%;
}