 @import url();

 p {
     font-family: "Yuyu", sans-serif;

 }

 span {
     font-weight: bold;
 }

 .ital {
     font-style: italic;
     font-weight: bold;
 }



 .box {
     background-color: blue;
 }

 .currentline {
     display: inline;

 }

 .newline {
     display: inline;
 }

 .left {
     float: right;


 }

 .wrapper {
     text-align:left;
 }

 .wrapper-1{
    text-align: right;
 }

 .pedding-1{
    background-color: red;
    width: 90px;
 }

 .pedding-2{
    background-color: aqua;
    widith 90px
 }
 .cal{
    padding: 20px 5px 50px 10px;
 }